{% extends "/base/base.html" %}
{% from 'bootstrap/form.html' import render_field %}
{% block title %} GTAVoiceRP Forums{% endblock %}



{% block content %}

<div class="container-fluid" >
  {% include "navbars/navbar.html" %}
  {% block navbar %}
  {% endblock %}
  <div class="container">
    <div class="row bg-orangeTheme" style="text-align:center;">
      <div class="col-6 border-top border-bottom border-left border-right rounded-left pt-2">
        <h5>Category</h5>

      </div>

      <div class="col-2 border-bottom border-right border-top pt-2">
        <h5>Topics</h5>
      </div>
      <div class="col-2 border-bottom border-top pt-2">
        <h5>Posts</h5>
      </div>
      <div class="col-2 border rounded-right pt-2">
        <h5>Latest Post</h5>
      </div>
    </div>

    <div class="row bg-dark">

      <div class="col-6 border-top border-bottom border-left border-right">
        <h6>Category</h6>
        <p> lorem imsum</p>
      </div>

      <div class="col-2 border-bottom border-right border-top">
        <h6>Topics</h6>
      </div>
      <div class="col-2 border-bottom border-top">
        <h6>Posts</h6>
      </div>
      <div class="col-2 border">
        <h6>Latest Post</h6>
      </div>
    </div>


  </div>




</div>



{% endblock %}
