{% extends "/base/base.html" %}
{% from 'bootstrap/form.html' import render_field %}
{% block title %} GTAVoiceRP Forums{% endblock %}



{% block content %}

<div class="container-fluid" >
  {% include "navbars/navbar.html" %}
  {% block navbar %}
  {% endblock %}
  <div class="container">
    <div class="row bg-orangeTheme" style="text-align:center;">
      <div class="col-6 border-top border-bottom border-left border-right rounded-left pt-2">
        <h5>Category</h5>

      </div>

      <div class="col-2 border-bottom border-right border-top pt-2">
        <h5>Topics</h5>
      </div>
      <div class="col-2 border-bottom border-top pt-2">
        <h5>Posts</h5>
      </div>
      <div class="col-2 border rounded-right pt-2">
        <h5>Latest Post</h5>
      </div>
    </div>
    {% for row in context %}
    <div class="row bg-dark " style="text-align:center;">

      <div class="col-6 border-top border-bottom border-left border-right pt-2">
        <h6>{{row.category.name}}</h6>

      </div>

      <div class="col-2 border-bottom border-right border-top pt-2">
        <h6>{{row.numTopics}} topics</h6>
        {% for topic in row.someTopics %}
        <a href="">{{topic.name}}</a>
        {% endfor %}

      </div>
      <div class="col-2 border-bottom border-top pt-2">
        <h6>{{row.numPosts}} posts</h6>
      </div>
      <div class="col-2 border pt-2">
        <h6>Latest Post</h6>
      </div>
    </div>
    {% endfor %}


  </div>




</div>



{% endblock %}
