{% extends "/base/base.html" %}
{% from 'bootstrap/form.html' import render_field %}
{% block title %} GTAVoiceRP Forums{% endblock %}



{% block content %}

<div class="container-fluid" >
  {% include "navbars/navbar.html" %}
  {% block navbar %}
  {% endblock %}
  <div class="container">
    <div class="row bg-dark" style="text-align:center;">
      <div class="col">
      <h1 style="text-align:left;">{{category.name}} <small>{{topic.name}}</small></h1>
      <hr class="bg-light">
      {% for post in posts%}

      <div class="card bg-dark  pl-2 border-secondary mt-2" style="text-align:left">
        <div class="row">
          <div class="col-1" style="padding: unset;padding-left: .72%">
            <img  class="img pl-0" src="{{post.author.profile_picture}}" alt="profile thumbnail" style="height:65px; width:65px;">

            </div>
          <div class="col-2 pl-1 pt-3">

              <a href="/user/{{post.author.username}}"><h4>{{post.author.username}}</h4></a>


        </div>


        </div>
        <hr class="bg-light" style="width:25%;">
        <div class="row">
          <div class="col">




      <h5>{{post.title}}</h5>
      <p>{{post.body}}</p>
      {{post.timestamp}}
      </div>
      </div>
      </div>
      {% endfor %}
      </div>



    </div>
</div>



{% endblock %}
